body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.upload-container {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.upload-area {
    width: 100%;
    padding: 40px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    background-color: #fafafa;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
}

.upload-area img.upload-icon {
    width: 50px;
    margin-bottom: 20px;
}

.upload-area h2 {
    margin: 0;
    font-size: 18px;
    color: #aaa;
}

.upload-area h2 .browse-text {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

.upload-area p {
    margin: 10px 0;
    color: #aaa;
}

.upload-area.dragging {
    background-color: #e9f5ff;
    border-color: #007bff;
}

.file-input {
    display: none;
}

.progress-bar-container {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.progress-bar-container p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.progress-bar {
    width: 0;
    height: 5px;
    background-color: #007bff;
    border-radius: 4px;
    transition: width 0.3s;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

