<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Crop Protection</title>
    <link href="diseases.css" rel="stylesheet" type="text/css" />


    <style type="text/css">
        body {
            background-image: url(Images/Design/backgrd.jpg);
            background-repeat: repeat;
            margin-right: 0px;
        }

        .style7 {
            font-size: 12px;
            font-weight: bold;
        }

        .style8 {
            font-size: 12px
        }

        .style9 {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="header" align="center">
            <img src="Images/Design/new header.jpg" width="1010" height="234" border="0" align="middle" usemap="#Map" />
            <table width="1010" border="0" bgcolor="#518306">
                <tr>
                    <td width="84" height="30"><img src="Images/home_hover.png" alt="" width="30" height="30" /><strong><font color="#FFFF00"><a href="Index.html">HOME</a></font></strong></td>
                    <td width="114"><a href="aboutus.html"><img src="Images/aboutus_hover.png" alt="" width="30" height="30" /></a><strong><font color="#FFFF00"><a href="aboutus.html">ABOUT US</a></font></strong></td>
                    <td width="137"><a href="contactus.html"><img src="Images/contactus_hover.png" alt="" width="30" height="30" /></a><strong><font color="#FFFF00"><a href="contactus.html">CONTACT US</a></font></strong></td>
                    <td width="657">&nbsp;</td>
                </tr>
            </table>
        </div>
        <div class="content">
            <table width="1010" height="824" border="0" class="botanyfont">
                <tr>
                    <td width="211" height="" valign="top" class=" botany1">
                        <table width="211" border="0" align="left">
                            <tr bgcolor="#FFFF99">
                                <td width="205" align="center">
                                    <font size="4"><strong>Diseases</strong></font>
                                </td>
                            </tr>
                            <tr>
                                <td width="205" height="30" align="center">
                                    <a href="blast.html">
                                        <font color="#000000"><b>Blast</b></font>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td width="205" height="30" align="center">
                                    <a href="brownspot.html">
                                        <font color="#000000"><b>Brown Spot</b></font>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td width="205" height="30" align="center">
                                    <a href="hispa.html">
                                        <font color="#000000"><b>Hispa</b></font>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td width="205" height="30" align="center">
                                    <a href="tungro.html">
                                        <font color="#000000"><b>Tungro</b></font>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td width="205" height="30" align="center">
                                    <a href="sheathblight.html">
                                        <font color="#000000"><b>Sheath Blight</b></font>
                                    </a>
                                </td>
                            </tr>

                        </table>
                    </td>
                    <td width="783" colspan="2" valign="top" bgcolor="#fffff0" class="croppro">
                        <h1 align="center"><strong><br />
          Diseases</strong> <br />
                        </h1>
                        <h1 align="center"><br />
                            <img src="Images/Images/Disease.png" width="357" height="335" /><br />
                            <br />
                            <br />
                        </h1>
                        <ul class="botanybullet">
                            <li>In rice, diseases are caused by fungi, bacteria and viruses.<br />
                                <br />
                            </li>
                            <li>Losses due to the diseases in rice are very heavy and famines have been reported in the history due to the crop diseases.<br />
                                <br />
                            </li>
                            <li>Our country faced a severe famine in 1943 in Bengal due to epidemic outbreak of brown leaf spot (Helminthosporium oryzae).<br />
                                <br />
                            </li>
                            <li>Blast disease was a severe epidemic in 1919 in Thanjavur district.<br />
                                <br />
                            </li>
                            <li>It also occurred in severe form in 1985-88 in Tamil Nadu.<br />
                                <br />
                            </li>
                            <li>Bacterial blight was an epidemic in 1963 in Bihar.<br />
                                <br />
                            </li>
                            <li>Rice Tungro disease outbreak was severe during 1985-87 in Tamil Nadu.</li>
                        </ul>
                        <p><br />
                        </p>
                        <p align="center">&nbsp;</p>
            </table>
            <!-- end .content -->
        </div>
        <div class="footer">
            <p>Copyright © TNAU | All Rights Reserved</p>
            <!-- end .footer -->
        </div>
        <!-- end .container -->
    </div>
</body>

</html>
